$color-bg: #f8f7f4;
$color-primary: #C67C4E;
$color-accent: #C67C4E;
$color-text: #333;
$color-muted: #A2A2A2;
$color-white: #fff;
$radius: 16px;
$font-family: "Sora", sans-serif;


.category-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -webkit-overflow-scrolling: touch; /* Suavidade no mobile */
  max-width: 100vw; /* Limita à largura da viewport */
  box-sizing: border-box; /* Inclui padding na largura */
  padding: 0 24px; /* Espaço lateral opcional */


    display: flex;
    gap: 0.6rem;
    margin-bottom: 1.2rem;

    button {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 6px;
      background: #eee;
      color: $color-text;
      font-weight: 600;
      transition: all 0.3s ease;

      &.active {
        background-color: #C67C4E;
        border: none;
        color: #fff;
      }
    }
}

.category-container::-webkit-scrollbar {
  display: none; /* Oculta scrollbar no Chrome, Safari */
}
