<div class="coffee-detail">
  <!-- Header -->
  <div class="header">
    <button class="header-actions" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="title">Detail</span>
    <button class="header-actions">
      <mat-icon>favorite_border</mat-icon>
    </button>
  </div>


  <div class="produt-info" *ngIf="coffee$ | async as coffee">
    <div class="image-container">
      <img [src]="coffee.image" [alt]="coffee.name" />
    </div>
      <div class="info">
      <div class="infos-divider">
        <h2>{{coffee.name}}</h2>
        <span class="sub">{{coffee.type}}</span>

        <div class="rating">
          <mat-icon class="star">star</mat-icon>
          <span>{{coffee.rating}} <span class="reviews">{{coffee.reviews}}</span></span>
        </div>
      </div>
      
      <div class="icons-divider">
        <div class="icons">
        <mat-icon>delivery_dining</mat-icon>
        <mat-icon>coffee</mat-icon>
        <mat-icon>local_drink</mat-icon>
        </div>
      </div>
    </div>
    <hr />

    <div class="description">
      <h3>Descrição</h3>
      <p>
        {{coffee.description}}
      </p>
    </div>

    <div class="size">
      <h3>Size</h3>
      <div class="options">
        <button mat-stroked-button class="size-btn">S</button>
        <button mat-flat-button color="primary" class="size-btn selected">M</button>
        <button mat-stroked-button class="size-btn">L</button>
      </div>
    </div>

    <div class="footer">
      <div class="price">
        <span class="label">Preço</span>
        <h2>R$ {{coffee.price}}</h2>
      </div>
      <button mat-flat-button color="primary" class="buy-btn">Comprar</button>
    </div>
  </div>
</div>
