<section class="banner-container" *ngIf="banners && banners.length > 0">
  <ng-container *ngIf="banners[currentIndex] as currentBanner">
    <div class="promo-banner" [@fadeAnimation]>
      <div class="tag">promo</div>
      <div class="banner-info">
        <h2>{{ currentBanner.title }}</h2>
        <p>{{ currentBanner.description }}</p>
      </div>
    </div>
  </ng-container>
  <div class="indicators">
    <span
      *ngFor="let banner of banners; let i = index"
      (click)="selectBanner(i)"
      [class.active]="i === currentIndex"
    ></span>
  </div>
</section>
