$color-bg: #f8f7f4;
$color-primary: #C67C4E;
$color-accent: #d8b089;
$color-text: #333;
$color-muted: #aaa;
$color-white: #fff;
$radius: 16px;

.banner-container {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  scroll-snap-type: x mandatory;
  .promo-banner {
    background: $color-primary;
    color: $color-white;
    border-radius: $radius;
    width: 100%;
    background-size: cover;
    margin-bottom: 1.5rem;
    position: relative;
    overflow: hidden;

    .banner-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: $radius;
    }

    .tag {
      position: absolute;
      top: 10px;
      left: 10px;
      background-color: #e74c3c;
      color: #fff;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 0.75rem;
      padding: 0.25rem 0.5rem;
      border-radius: 8px;
      z-index: 2;
    }

    h3 {
      margin-top: 0.6rem;
      font-weight: 600;
      font-size: 1.3rem;
      width: 200px;
      background-color: #313131;
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
      padding: 0 4px 2px;
    }
  }
  .indicators {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.5rem;

    span {
      width: 10px;
      height: 10px;
      background: rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.3s ease;

      &.active {
        background: #fff;
        transform: scale(1.2);
      }

      &:hover {
        background: rgb(198 124 78);
      }
    }
  }
}

 