$font-family: "Sora", sans-serif;
$color-primary: #C67C4E;
$color-white: #fff;


@mixin card-shadow {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.order-page {
  background: #fafafa;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: $font-family;
  padding: 0px 24px 0px 24px;
  color: #2d2d2d;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 0px 24px 0px;
    .header-actions {
      border: none;
      background: none;
    }

    .title {
      font-weight: 600;
      font-size: 1rem;
    }

    mat-icon {
      font-size: 24px;
      color: #444;
      cursor: pointer;
    }
  }


  .delivery-options {
    display: flex;
    justify-content: center;

    .tab-btn {
      flex: 1;
      border-radius: 10px;
      height: 45px;
      font-weight: 600;
    }

    .active {
      background-color: #b46b3b;
      color: white;
    }
  }

  .address-section {
    h3 {
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 16px;
      margin-top: 0px;
    }

    .address-title {
      font-weight: 600;
      margin-bottom: 4px;
    }

    .address-sub {
      color: #999;
      font-size: 0.9rem;
      margin-bottom: 1rem;
      margin-top: 0px;
    }

    .address-buttons {
      display: flex;
      gap: 0.8rem;

      .action-btn {
        flex: 1;
        border-radius: 12px;
        font-size: 0.8rem;
        color: #b46b3b;

        mat-icon {
          font-size: 18px;
          margin-right: 4px;
        }
      }
    }
  }

  mat-divider {
    margin: 1.5rem 0;
    border-top-color: #eee;
  }

  .product-info {
    .product {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 60px;
      height: 60px;
      border-radius: 10px;
      object-fit: cover;
    }

    .details {
      flex: 1;
      margin-left: 1rem;

      h4 {
        margin: 0;
        font-size: 1rem;
        font-weight: 600;
      }

      .sub {
        color: #999;
        font-size: 0.9rem;
      }
    }

    .quantity {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      .quantity-button {
        border-radius: 20px;
        border: none;
        width: 35px;
        background: none;
      }
      span {
        font-weight: 600;
      }

      mat-icon {
        background: #f5f5f5;
        border-radius: 50%;
        font-size: 23px;
        border: solid 1px #A2A2A2;
        text-align: center;
      }
    }
  }

  .discount {
    background: #fff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    border: solid 1px #EDEDED;
    padding: 16px;
    justify-content: space-between;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);

    mat-icon {
      color: #b46b3b;
    }

    span {
      font-size: 0.9rem;
      font-weight: 600;
    }

    .arrow {
      color: #999;
    }
  }

  .payment-summary {

    h3 {
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 0.8rem;
    }

    .row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.4rem;

      .old {
        text-decoration: line-through;
        color: #bbb;
        margin-right: 5px;
      }
     }
    }
  }

  .order-btn-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $color-white;
    height: 90px;
    align-items: center;
    border-radius: 15px 15px 0px 0px;
    justify-content: space-around;
    padding: 0.8rem 0;
    @include card-shadow;

    .payment-method {
      background: #fff;
      border-radius: 12px;
      margin: 0px 24px 0px 24px;
      align-items: center;
      justify-content: space-between;

    .header-row {
      align-items: center;
      width: 100%;
      display: flex;

      mat-icon {
            color: #b46b3b;
          }

        .left {
          display: grid;
          align-items: center;
          gap: 0.5rem;
        }

        span {
          font-weight: 600;
        }

        .payment-value{
          color: $color-primary;
        }
      }
      .order-btn {
        background-color: $color-primary;
        color: #fff;
        margin-top: 20px;
        border-radius: 12px;
        padding: 16px 40px 16px 40px;
        width: 100%;
        font-weight: 600;
        border: none;
        height: 56px;
        font-family: $font-family;
      }
    }
  }
}
