<div class="order-page">
  <!-- Header -->
  <div class="header">
    <mat-icon>arrow_back</mat-icon>
    <span class="title">Pedido</span>
  </div>

 <!-- Delivery / Pickup Tabs -->
  <div class="custom-tabs-wrapper">
    <app-tabs>
      <app-tab label="Delivery">Delivery</app-tab>
      <app-tab label="Retirada">Retirada</app-tab>
    </app-tabs>
  </div>


  <!-- Delivery Address -->
  <div class="address-section">
    <h3>Endereço de entrega</h3>
    <p class="address-title">Santo André</p>
    <p class="address-sub">
      R. Conde Juliano, 340 - Vila Humaitá
    </p>

    <!-- <div class="address-buttons">
      <button mat-stroked-button class="action-btn">
        <mat-icon>edit_location</mat-icon> Editar Endereço
      </button>
      <button mat-stroked-button class="action-btn">
        <mat-icon>note_add</mat-icon> Adicionar nota
      </button>
    </div> -->
  </div>

  <mat-divider></mat-divider>

  <!-- Product -->
  <div class="product">
    <img src="assets/cafe1.png" alt="Caffe Mocha" />
    <div class="details">
      <h4>Caffe Mocha</h4>
      <span class="sub">Deep Foam</span>
    </div>
    <div class="quantity">
      <button class="quantity-button" mat-icon-button><mat-icon>remove</mat-icon></button>
      <span>1</span>
      <button class="quantity-button" mat-icon-button><mat-icon>add</mat-icon></button>
    </div>
  </div>

  <mat-divider></mat-divider>

  <!-- Discount -->
  <div class="discount">
    <mat-icon>local_offer</mat-icon>
    <span>1 Cupom de desconto disponível</span>
    <mat-icon class="arrow">chevron_right</mat-icon>
  </div>

  <!-- Payment Summary -->
  <div class="payment-summary">
    <h3>Pagamento</h3>
    <div class="row">
      <span>Preço</span>
      <span>R$ 4.53</span>
    </div>
    <div class="row">
      <span>Taxa de entrega</span>
      <div>
        <span class="old">R$ 2.0</span>
        <span>R$ 1.0</span>
      </div>
    </div>
  </div>  
  <!-- Order Button -->
  <div class="order-btn-container">
    <div class="payment-method">
      <!-- <div class="header-row">
        <mat-icon>account_balance_wallet</mat-icon>
        <div class="left">
          <span>Carteira</span>
          <span class="payment-value">R$ 5.53</span>
        </div>
        <mat-icon>expand_more</mat-icon>
      </div> -->
      <button mat-flat-button color="primary" class="order-btn">Pedir</button>
    </div>
  </div>
</div>
